<nav class="navbar navbar-inverse"> <!--This is the navigation bar we should modify it later on
to make it more dynamic-->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Build a Comp</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span> Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>





<div class="center jumbotron">
  <center><h1>Welcome to Build a Comp</h1></center>


<center> <%= link_to '#', class: "btn btn-lg btn-primary" do %>
    <span class="glyphicon glyphicon-user"></span> Sign up now!<!--this will be modified to point to the
      new user once Tyler makes the db-->
<% end %>
</center>

</div>
