







<div class="center jumbotron">
  <center><h1>Welcome to Build a Comp</h1></center>


  <center> <%= link_to '#', class: "btn btn-lg btn-primary" do %>
    <span class="glyphicon glyphicon-user"></span> Sign up now!<!--this will be modified to point to the
    new user once Tyler makes the db-->
    <% end %>
  </center>

</div>

