<% provide(:title, "Edit User") %>
<center><h1>Update Your Profile</h1></center>

<style type="text/css">
.container {
	width: 500px;
	clear: both;
}
.container input {
	width: 100%;
	clear: both;
}
</style>

<div class="container">
	<form name ="user_info_edits">
		<label>Name:</label><input type="text" name="name"><br>
		<label>Email:</label><input type="text" name="email"><br>
		<label>Password:</label><input type="password" name="password"><br>
		<br>
		<input type="submit" value="Submit">
	</form>
</div>