<%= provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<center>Name: <%= @user.name %><br/>
				Email: <%= @user.email %><br/>
				Account Created on: <%= @user.created_at %><br/>
			</h1>
		</section>
	</aside>

</div>
