<% provide(:title, 'CPU') %>
<!DOCTYPE html>
<html>
  <head>
     <title>Computer | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Comp App</h1>
    <p>
      <strong> Type: </strong>
      
    </p>
    <p>
      <strong> Cache: </strong>
      
    </p>
    <p>
      <strong> Quad-Core: </strong>
      
    </p>
    <p>
      <strong> Description: </strong>
     
    </p>
    <p>
      <strong> Price: </strong>
      
    </p>
    
  </body>
</html>