<% provide(:title, 'CPU') %>
<!DOCTYPE html>
<html>
  <head>
     <title>Computer | <%= yield(:title) %></title>
  </head>
  <body>

    <ul >
    <% @cpu.each do |cp| %>
    <li>

    <%= cp.id %>
    <%= cp.price %>
    </li>
    <% end %>
    </ul>

    <h1>Comp App</h1>
    <p>
      <strong> Type: </strong>
      <strong> Speed: </strong>

    </p>
    <p>
      <strong> Cache: </strong>

    </p>
    <p>
      <strong> Quad-Core: </strong>

    </p>
    <p>
      <strong> Description: </strong>

    </p>
    <p>
      <strong> Price: </strong>

    </p>
    <div align="right">
    <%= link_to "Next", component_pages_rvm_path,
                                  class: "btn btn-large btn-primary" %>
  </div>
  </body>
</html>
