<% provide(:title, 'Power Supply') %>
<!DOCTYPE html>
<html>
<head>
 <title>Computer | <%= yield(:title) %></title>
</head>
<center><h1>Power Supply</h1></center>

<center>
  <body>
    
     <table style="width:100%">
      <tr>
        <th></th>
        <th><center>ID</center></th>
        <th><center>Voltage</center></th>
        <th><center>Price</center></th>
      </tr>

      <% @power.each do |f| %>
        <tr>
          <td><input type="radio" name="powersupply_choice" value=f.id /></td>
          <td><%= f.id %></td>
          <td><%= f.voltage %> V</td>
          <td>$<%= f.price %></td>
        </tr>
      <% end %>
    </table>
  </center>