<% provide(:title, 'RVM') %>
<!DOCTYPE html>
<html>
  <head>
     <title>Computer | <%= yield(:title) %></title>
  </head>
  <body>
    <ul >
    <% @rvm.each do |rv| %>
    <li>

    <%= rv.id %>
    <%= rv.price %>
    </li>
    <% end %>
    </ul>

    <h1>Comp App</h1>
    <p>
      <strong> Type: </strong>
      <strong> Speed: </strong>
      <strong> Size: </strong>

    </p>
    <p>
      <strong> Description: </strong>

    </p>
    <p>
      <strong> Price: </strong>

    </p>
    <div align="right">
    <%= link_to "Next", component_pages_gpu_path,
                                  class: "btn btn-large btn-primary" %>
  </div>

  </body>
</html>
